
div.page-teacher{
    text-align: right;
}

div.title-teacher{
    display: flex;
    background-color: rgb(86, 86, 86);
    color: white;
    justify-content: space-around;
    text-align: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 2px 2px 4px #000000;
}

div.connect{
    background-color: #fcac3d;
    color: white;
    border-radius: 100px;
    margin: 10px;
    padding: 15px;
    direction: ltr; 
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.txt-wrapper{
    padding: 20px;
    margin: 40px;
    margin-left: 10%;
    margin-right: 10%;
}