.heder{
    /* background-color: coral; */
    margin-bottom: 30px;
    font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  /* font-weight: bold; */
  padding: 70px 30px;
  /* display: inline-block; */


}
.logo {
    height: 10px;
    width: 5px;
  }