div.wrapper-pupil{
    text-align: right;
    padding-right: 15%;
    padding-left: 15%;
}

div.buttons{
    display: flex;
    justify-content: center;
}

div.find-teacher{
    display: flex;
    justify-content: center;
}