.contact-wrapper{
    text-align: right;
    padding: 20px;
    margin: 40px;
}

.btn-send{
    background-color: #2E59A7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-send:hover{
    background-color: #1448a9;
}