
div.register-wapper, div.detail-wapper{
  text-align: right;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding-right: 20px;
  padding-left: 20px;
}

h3.title-register{
  padding-top: 20px;
}

div.checkbox-wapper, div.textarea{
  padding: 10px;
}

label.text-detail{
  font-weight: bold;
}

select#active, select#year{
  width: auto;
  margin-right: 10px;
}

input[type=text], input[type=password], textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
  }

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 1px solid #555;
    outline: none;
  }

  textarea{
    width: 100%;
  }

 #textDetail{
  height: 100px;
  size: 20px; ;
 }


 button.btn-save1 {
  background-color: #2E59A7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn-save1:hover {
  background-color: #1448a9;
}
